html, body {
	height: 100%;
 	overflow: hidden;
}

db-app {
	display: block;
	height: 100%;
	width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;	
}

db-app h3 {
	margin-top: 0;
}

db-app>.container {
	height: calc(100% - 71px);
	width: 100%;
}

db-app>.container>.row {
	height: 100%;
}

db-app>.container>.row>div {
	height: 100%;
}

db-app .list-group {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.query textarea {
	width: 100%;
	height: calc(100% - 50px);
}

.query .btn {
	width: 100%;
	margin-bottom: .5em;
}

.container .row .wrapper {
	height: calc(100% - 50px);
	overflow-y: auto;
}

.container .row .quarter-wrapper {
	height: calc(25% - 50px);
	overflow-y: auto;
}

.container .row .three-quarter-wrapper {
	height: calc(75% - 50px);
	overflow-y: auto;
}

.history .list-group-item {
	display: block;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	max-height: 75px;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.list-group .list-group-item:hover {
	cursor: pointer;
}

.alert {
    position: absolute;
    z-index: 1000;
    width: calc(100% - 20px);
    top: 0;
    left: 0;
    margin: 10px;
}